<!-- Fondo decorativo fijo -->
<div class="fixed top-0 left-0 w-screen h-screen overflow-hidden -z-10">
  <div class="absolute w-[400px] h-[400px] bg-[#f5983b90] rounded-full blur-[120px] top-[-100px] left-[-100px]"></div>
  <div class="absolute w-[500px] h-[500px] bg-[#e571d490] rounded-full blur-[150px] bottom-[-150px] right-[-100px]"></div>
  <div class="absolute w-[400px] h-[700px] bg-[#bdcd2c90] rounded-full blur-[120px] top-[1200px] left-[-100px]"></div>
  <div class="absolute w-[300px] h-[300px] bg-[#b0a2f790] rounded-full blur-[100px] top-[20%] left-[80%] translate-x-[-50%] translate-y-[-50%]"></div>
</div>

<!-- Contenido principal -->
<div class="relative w-full h-full">
  <router-outlet></router-outlet>
  <app-pop-up-alert></app-pop-up-alert>
  <app-loading></app-loading>
</div>
