<h2 class="mt-20 text-center">¡Test de nivel 100% GRATIS!</h2>
<div class="grid grid-cols-2 md:flex md:justify-center md:items-center md:gap-6 p-8 ">
  <div class="w-32 h-32 bg-[#b0a2f7] flex justify-center items-center rounded mx-auto mt-4">
    <h3 class="font-bold text-white text-4xl ">A1</h3>
  </div>
  <div class="w-32 h-32 bg-[#18b8d8] flex justify-center items-center rounded mx-auto mt-4">
    <h3 class="font-bold text-white text-4xl ">A2</h3>
  </div>
  <div class="w-32 h-32 bg-[#bdcd2c] flex justify-center items-center rounded mx-auto mt-4">
    <h3 class="font-bold text-white text-4xl ">B1</h3>
  </div>
  <div class="w-32 h-32 bg-[#ffd440] flex justify-center items-center rounded mx-auto mt-4">
    <h3 class="font-bold text-white text-4xl ">B2</h3>
  </div>
  <div class="w-32 h-32 bg-[#f5983b] flex justify-center items-center rounded mx-auto mt-4">
    <h3 class="font-bold text-white text-4xl ">C1</h3>
  </div>
  <div class="w-32 h-32 bg-[#e571d4] flex justify-center items-center rounded mx-auto mt-4">
    <h3 class="font-bold text-white text-4xl ">C2</h3>
  </div>
</div>
  <div class="text-center  mt-12 md:mt-24">
  <a href="#contact" class="bg-[#fbea78] rounded-full text-black px-6 py-2 md:p-4 text-sm md:text-base">
    ¡Comienza hoy!
  </a>
</div>
